.reviewPopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hide {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.popupContainer {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem;
}
.reivewBox {
    padding: 0.625rem;
    margin: 0.625rem;
}