.header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: var(--header-index);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
}

.headerRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logoImg {
    --img-size: 3rem;
    width: var(--img-size);
    height: var(--img-size);
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 0.625rem;
}

.logoName {
    font-size: 1.75rem;
    font-weight: bold;
    font-style: italic;
    color: #000000;
}

.headerCenter {
    background-color: transparent;
    display: flex;
    align-items: center;
}

.centerMenu {
    text-decoration: none;
    padding: 0.25rem 1rem;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.dropdown {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown:hover>.dropdownContainer {
    display: block;
}

.dropdownContainer {
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #ffffff;
    min-width: 10rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: none;
}

.dropdownItem {
    padding: 0.75em;
    font-size: 0.9rem;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.dropdownItem+.dropdownItem {
    border-top: 1px solid var(--light-clr);
}

.dropdownItem:hover {
    background-color: var(--light-clr);
}
.dropdownTitle {
    margin-left: 0.625em;
}

.centerMenu+.centerMenu {
    border-left: 1px solid var(--light-clr);
}

.centerMenu::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #000000;
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateX(-50%);
}

.centerMenu:hover {
    background-color: var(--light-clr);
}

.centerMenu:hover::before {
    width: 100%;
    transform: translateX(-50%);
}

.headerRight {
    display: flex;
    align-items: center;
}


@media (max-width: 48rem) {
    .headerCenter {
        display: none;
    }
}

@media (max-width: 30rem) {
    .headerRow {
        padding: 0 2rem;
    }

    .headerLeft {
        flex-grow: 1;
    }
}