.errorPage {
    min-height: calc(100vh - var(--header-height));
    background-color: #ffffff;
    overflow: hidden;
    margin-top: var(--header-height);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errorPage.child {
    margin-top: 0;
}

.errorImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorImage {
    width: 40%;
    object-fit: cover;
    object-position: center;
}

.errorContentContainer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorTitle,
.errorInfo {
    text-align: center;
}

.errorTitle {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.errorInfo {
    font-size: 0.875rem;
    color: var(--text-secondary);
}

.errorInfo:last-of-type {
    margin-bottom: 1rem;
}