.cart {
    padding: 0.625rem;
    margin-top: 1rem;
    background-color: #ffffff;
}

.cartContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    align-items: flex-start;
}

.cartProductContainer,
.orderSummary {
    padding: 1rem;
    border-radius: 0.625rem;
    background-color: inherit;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.15);
}

.cartHeader {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.productInfo {
    display: flex;
    align-items: center;
    text-align: left;
    /* width: 15rem; */
}

.image {
    width: 10rem;
    aspect-ratio: 16 / 9;
    object-fit: contain;
    object-position: center;
}

.info {
    max-width: 200px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.action {
    cursor: pointer;
}

.action:hover {
    transform: scale(1.15);
}

.action.delete {
    color: var(--danger-clr);
}

.action.save {
    color: var(--success-clr);
}

.summaryInfo,
.totalInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 1rem;
}

.summaryInfo {
    border-bottom: 1px solid #eeeeee;
}

.summaryInfo:first-of-type {
    padding-top: 0;
}

.summaryLabel {
    font-size: 0.875rem;
    color: var(--text-secondary);
}

.summaryValue {
    color: var(--dark-clr);
    font-weight: 600;
    text-align: right;
}

.totalLabel {
    font-size: 1.2rem;
    font-weight: 600;
}

.totalValue {
    font-size: 1.25rem;
    text-align: right;
    font-weight: 600;
}